:root {
    --primary-color: #0D5C63;
    --secondary-color: #2A5F07;
    --accent-color: #C0E8ED;
    --second-accent-color: #BDF2A6;
    --third-accent-color: #4fe4a6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Winky Rough", sans-serif;
}
h1 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    word-spacing: 15px;
}
p, h2 {
    padding: 1rem;
    line-height: 1.8;
}
p {
    font-size: 1.1rem;
}
/* --------- HEADER --------- */
header {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto auto;
    background-image: linear-gradient(#406cca, #030438);
    color: var(--accent-color);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
}
header img {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 120px;
    
}
header h1 {
    grid-column: 2/3;
    align-self: center;
    text-align: center;
    padding: 0.5rem;
    font-size: 2.2rem;
}
.navigation {
    display: flex;
    overflow: hidden;
}
.navigation li {
    list-style: none;
    flex: 1;
    text-align: center;
}
.navigation li a {
    text-decoration: none; 
    color: var(--accent-color);
    padding: 0.5rem;
    align-self: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}
.navigation li a:hover {
    color: var(--third-accent-color);
    border-bottom: 3px solid var(--third-accent-color);
}
#home:hover::after {
    content: " 🏠";
}
#food:hover::after {
    content: " 🍽️";
}
#places:hover::after {
    content: " 📍";
}
#contact:hover::after {
    content: " 👨🏻‍💻";
}
#menu {
    display: none;
}
/* --------- MAIN --------- */
main {
    max-width: 900px;
    margin: 0 auto;
}
/* --------- CLASS HERO --------- */
.hero {
    position: relative;
}
.hero picture img {
    width: 100%;
}
.hero h1 {
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    bottom: 25%;  
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 2;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 4px;
}
/* --------- CLASS CONTAINER --------- */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    row-gap: 3rem;
}
.container img {
    width: 90%;
    justify-self: center;
    align-self: center;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
}
.container label {
    font-size: 1.1rem;
    line-height: 1.6;
    align-self: center;
    padding: 1rem;
}
.container label img {
    display: none;
}
/* --------- CLASS FOODFLEX --------- */
.foodFlex {
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 50px;
}
.foodFlex div {
    width: 23%;
    height: 100%;
    padding: 5px;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: stretch;
    transition: 0.5s ease-in-out;
}
.foodFlex div:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: 0.5s ease-in-out;
}
.foodFlex div a {
    align-content: center;
    width: 100%;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    font-weight: 700;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    color: white;
}
#food1 {
    background-color: #0D5C63;
    background-image: url("../images/pupusas.webp");
    background-size: cover;
}
#food2 {
    background-image: url("../images/pan-con-pollo.webp");
    background-size: cover;
}
#food3 {
    background-image: url("../images/yuca-frita.webp");
    background-size: cover;
}
#food4 {
    background-image: url("../images/rihuas.webp");
    background-size: cover;
}
/* --------- FOOTER --------- */
footer {
    background-image: linear-gradient( #030438, #406cca);
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
