:root {
    --primary-color: #0D5C63;
    --secondary-color: #2A5F07;
    --accent-color: #C0E8ED;
    --second-accent-color: #BDF2A6;
    --third-accent-color: #4fe4a6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Winky Rough", sans-serif;
}
h1 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    word-spacing: 15px;
}
p, ul,h2 {
    padding: 1rem;
}
/* --------- HEADER --------- */
header {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto auto;
    background-color: var(--secondary-color);
    color: var(--second-accent-color);
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
}
header img {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 120px;
    
}
header h1 {
    grid-column: 2/3;
    align-self: center;
    text-align: center;
    padding: 0.5rem;
    font-size: 2.2rem;
}
.navigation {
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    width: 100%;
}
.navigation li {
    list-style: none;
}
.navigation li a {
    text-decoration: none; 
    color: var(--second-accent-color);
    padding: 0.7rem;
    align-self: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}
.navigation li a:hover {
    color: var(--third-accent-color);
    border-top: 3px solid var(--third-accent-color);
}
#menu {
    display: none;
}
/* --------- MAIN --------- */
main {
    max-width: 900px;
    margin: 1.5rem auto;
}
/* --------- CLASS HERO --------- */
.hero {
    position: relative;
}
.hero picture img {
    width: 100%;
}
.hero h1 {
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    bottom: 25%;  
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1.5;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
/* --------- CLASS CONTAINER --------- */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
    row-gap: 2rem;
}
.container img {
    width: 90%;
    justify-self: center;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
}
.container label {
    font-size: 1.1rem;
    line-height: 1.6;
    align-self: center;
    padding: 1rem;
}
.container label img {
    display: none;
}
/* --------- FOOTER --------- */
footer {
    background-color: #2A5F07;
    padding: 1rem;
    text-align: center;
    color: #BDF2A6;
}
