*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main {
    width: 400px;
    margin: 0 auto;
}
h1 {
    padding: 1rem;
    background-color: #05204A;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
footer {
    background-color: #3f265c;
    padding: 1rem;
    text-align: center;
    color: white;
    margin-top: 1rem;
}
/* ----- Form Styles ----- */
.review {
    background-color: #E1E2EF;
    padding: 1rem;
    width: 100%;
}
.review fieldset {
    border: none;  
    margin-top: 1.2rem; 
}
.review div {
    margin: 1rem 0 0.5rem 0;
    font-weight: 700;
    max-width: 90%;
}
.review input[type='text'],
.review input[type='date'],
.review textarea,
.review select
{
    padding: 0.7rem;
    width: 90%;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 1rem;
    appearance: none;
}
.review label {
    display: block;
    font-weight: 700;
}
.review input[type='checkbox'] {
    margin-right: 0.5rem;
    transform: scale(1.2);
    margin-bottom: 0.8rem;
}
.review span {
    color: #05204A;
    font-size: 0.8rem;
}
.review input[type='submit'] {
    width: 96%;
    padding: 0.7rem;
    margin: 1rem 1rem 0 0;
    background-image: linear-gradient(#325511, #142207);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}
.review input:required,
.review select:required {
    border-left: 8px solid red;
}
.review input:required:valid,
.review select:required:valid {
    border-left: 8px solid green;
}
/* ----- Stars Rating ----- */
.star-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: row-reverse;
    width: 200px;
}
.star-rating input {
    display: none;
}
.star-rating label {
    width: 30px;
    height: 30px;
    color: orange;
    font-weight: 100;
}
.star-rating label:hover {
    color: darkorange;
    font-weight: 700;
    transform: scale(1.1);
}
.star-rating label:before {
    content: '\2606';
    position: absolute;
    top: 0;
    line-height: 26px;
    font-size: 2rem;
}
.star-rating input:checked ~ label:before {
    content: '\2605';
}