@media screen and (min-width: 68em){
    .hero {
        position: relative;
    }
    .placeInfo {
        position: absolute;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.452);
        backdrop-filter: blur(16px);
        color: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
        padding-top: 5rem;
    }
    .placeInfo h2 {
        position: absolute;
        background-color: var(--second-color);
        color: white;
        padding: 0.7rem;
        width: 200px;   
        left: -1.4rem;
        top: 0.5rem;
        text-align: left;
        font-weight: 400 ;
    }
    #data {
        top: 2rem;
        left: 2rem;
    }
    #weather {
        right: 2rem;
        bottom: 2rem;
    }
    #weather img {
        display: none;
    }
    #weather h2::after {
        
        content: " 🌤️";
    }
    footer {
      border-top: 1rem solid var(--second-color);  
    }
}